.greeting {
    text-align: center;
}

.greeting__about {
    font-family: "Kaushan Script", cursive;
    font-weight: normal;
    font-size: 72px;
    line-height: 86px;
    color: #ffffff;
}

.greeting__title {
    font-size: 150px;
    line-height: 140px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    width: 820px;
    margin: 35px auto 108px;
}

.greeting__btn {
    margin: 0 auto 230px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    background-color: transparent;
    color: #ffffff;
    width: 155px;
    height: 40px;
    border: 3px solid #ffffff;
}