.team {
  margin-bottom: 10px;
}

.team::after {
  @include pseudo($display: block, $content: '');
  width: 1200px;
  height: 1px;
  background-color: #e5e5e5;
  margin: 78px auto 0;
}

.team__title::after {
  @include pseudo($display: block, $content: '');
  width: 60px;
  height: 3px;
  background-color: $second-ping-colour;
  margin: 34px auto 0;
}

.team__heading {
  font-family: $second-font-stack;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 14px;
}

.team__title {
  margin-bottom: 40px;
}

.team__discription {
  max-width: 945px;
  text-align: center;
  font-family: $third-font-stack;
  font-size: 15px;
  line-height: 24px;
  color: $third-gray-colour;
  margin: 0 auto 90px;
}

.team__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.team__item {
  position: relative;

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

.photo {
  background-color: $fourth-green-colour;
  height: 470px;
  margin-bottom: 27px;
}

.team__photo {
  position: relative;
  transition: all 0.4s ease-out;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 470px;
    width: 380px;
    background-image: linear-gradient(#ee8a8a, #edd587);
    transition: opacity 0.4s linear;
    opacity: 0;
  }
}

.team__photo:hover {
  transform: translate(-10px, -10px);
}

.team__photo:hover::before {
  opacity: 0.73;
  cursor: pointer;
}

.team__name {
  font-weight: 600;
  font-size: $main-text-size;
  line-height: 17px;
  margin-bottom: 6px;
  text-align: center;
  text-transform: uppercase;
}

.team__profesion {
  font-family: $third-font-stack;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  color: $third-gray-colour;
  text-align: center;
}

.team__social {
  position: absolute;
  display: flex;
  top: 200px;
  left: 77px;
  opacity: 0;

  &--img {
    display: block;
    margin: 15px auto;
  }

}

.team__social-link:not(:last-child) {
  border-right: 2px solid #f9bd87;
}

.team__photo:hover .team__social {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.team__photo:hover .team__social--img {
  fill: $second-ping-colour;
}



.team__social-link {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $nav-yellow-colour;

  &:hover {
    background-color: $fourth-green-colour;
  }
}

.team__social-link:hover .team__social--img {
  fill: $primary-white-colour;
  transition: opacity 0.4s ease-out;
}
