

/* .hidden {
    display: none;
} 
 


ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

li{
    
}
img {
    width: 200px;
} */


/* Завдання №4 */

/* .container {
    margin: 0 auto;
}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: aquamarine;
    font-size: 20px;

}

.text {
    font-size: 20px;
    font-weight: bold;
} */

/* Завдання №6 */
/* #validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
} */

/* Завдання №8 */

#boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}