<div>
    <img class="article_img" src="{{largeImageURL}}" alt="">

</div>


{{!-- comments: 45
downloads: 8166
favorites: 12
id: 5875913
imageHeight: 3357
imageSize: 3585716
imageWidth: 5217
largeImageURL: "https://pixabay.com/get/53e8d2464353af14f6da8c7dda7936771d3fdfe153506c48732e7bd49545c05ebc_1280.jpg"
likes: 47
pageURL: "https://pixabay.com/photos/motorcycle-honda-chopper-5875913/"
previewHeight: 97
previewURL: "https://cdn.pixabay.com/photo/2020/12/31/09/06/motorcycle-5875913_150.jpg"
previewWidth: 150
tags: "motorcycle, honda, chopper"
type: "photo"
user: "Capri23auto"
userImageURL: "https://cdn.pixabay.com/user/2020/12/27/05-34-04-344_250x250.jpg"
user_id: 1767157
views: 8433
webformatHeight: 412
webformatURL: "https://pixabay.com/get/53e8d2464353af14f1dc846096293e76153edae5524c704f742f7bd69f48c35c_640.jpg"
webformatWidth: 640 --}}