$main-font-stack: "Montserrat",
sans-serif;

$second-font-stack: "Kaushan Script",
cursive;

$third-font-stack: "Roboto",
sans-serif;

$main-text-size: 14px;

$primary-white-colour: #ffffff;

$nav-yellow-colour: #fce38a;

$second-ping-colour: #f38181;

$third-gray-colour: #999999;

$fourth-green-colour: #95e1d3;
